* {
    margin: 0px;
    padding: 0px;
    /* Para centrar el nombre de todos los elementos y cambiar tipografia*/
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
body {
    display: grid;
    grid-template-areas: 
        'header header header'
        'nav nav nav'
        'main main aside'
        'footer footer footer';
}
header {
    background-color: rgb(94, 94, 94);
    min-height: 10vh;
    grid-area: header;
}
nav {
    background-color: rgb(173, 173, 173);
    min-height: 5vh;
    grid-area: nav;
}
main {
    background-color: gray;
    min-height: 75vh;
    grid-area: main
}
section {
    min-height: 50%;
}
section:first-child {
    border-bottom: 2px solid rgb(255, 255, 255);
}
aside {
    background-color: rgb(197, 197, 197);
    min-height: 75vh;
    grid-area: aside;
}
footer {
    background-color: rgb(94, 94, 94);
    min-height: 10vh;
    grid-area: footer;
}