:root {
    --primary-color: #008060;
    --secondary-color: #759eff;
    --alternative-color: #ffbf75;
    --alternative-secondary-color: #f0f1f2 ;
    --dark-color: #002e25;

}
* {
    margin: 0px;
    padding: 0px;
    /* Para centrar el nombre de todos los elementos y cambiar tipografia*/
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
body {
    display: grid;
    grid-template-areas: 
        'header header header header'
        'nav nav nav nav'
        'main main main aside'
        'footer footer footer footer';
}
header {
    background-color: var(--dark-color);
    min-height: 10vh;
    grid-area: header;
}
nav {
    background-color: var(--primary-color);
    min-height: 5vh;
    grid-area: nav;
}
main {
    background-color: var(--alternative-secondary-color);
    min-height: 75vh;
    grid-area: main
}
section {
    min-height: 50%;
}
section:first-child {
    border-bottom: 2px solid rgb(48, 48, 48);
}
aside {
    background-color: var(--alternative-secondary-color);
    min-height: 75vh;
    border-left: 2px solid rgb(48, 48, 48);
    grid-area: aside;
}
footer {
    background-color: var(--dark-color);
    min-height: 10vh;
    grid-area: footer;
}