@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@media (max-width: 768px) {
  
}

@media (min-width: 768px) {
  
}


@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#first-line {
  font-family: 'Alfa Slab One';
  font-size: 2em;
  word-spacing: 15px;
  text-shadow: 1px 2px 3px #666;
}
#second-line {
  font-family: 'Press Start 2P';
  font-size: 2em;
  word-spacing: 10px;
  text-shadow: 5px 2px 3px rgb(29, 29, 201);
}

#first-name {
  color: #265829;
}
#second-name {
  color: #e46820;
}